body
 {
    width: 200px;
    height: 150px;
  }
  
  #password-container
   {
    text-align: center;
    margin-top: 20px;
  }
  
  #password 
  {
    width: 150px;
    margin-bottom: 10px;
  }
  